DS_Store
build-tmp/
build/
*.autosave
*.swp
*.iml
.idea
.lxproject
*.sublime-workspace
application.macosx
SLStudio/\.tags
.gradle
SLStudio/\.tags1
build
/out
/cache
/classes
dynamic.json
/project.lxp
*.lxp
